/* Import Poppins Font From Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



.light{
    background: #232D3F;
  color: white;
}


.dark {
    /* background: #232D3F;
    color: white; */
    background: white;
    color: #232D3F;
}

